<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title_head }}</title>
</head>
<body>

  <p style="text-align:center; padding-top: 40px; font-size: 24px;">Главная страница</p>
  <p style="text-align:center; padding-top: 10px; font-size: 20px;">
    Вставьте в url адрес доступные адреса которые указаны ниже.
  </p>
  <div class="urls">
    <p style="text-align:center; font-size: 20px; color: rgb(247, 181, 2);">
      /item/{id_item}/
    </p>
    <p style="text-align:center; font-size: 20px; color: rgb(247, 181, 2);">
      /order/{id_order}/
    </p>
  </div>
  <p style="text-align:center; padding-top: 10px; font-size: 20px; color: red;">
    !!!Данная старница создана для теста и демонстрации тестовой работы!!!
  </p>
    
</body>
</html>
