<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список товаров</title>
</head>
<body>

  <div class="container">
    <p style="text-align:center; font-size: 24px;">Список товаров:</p>
    <div class="products" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      {% for item in order.items_in_order.all %}
        <div class="product">
          <p>Название: {{ item.name }}</p>
          <p>Описание: {{ item.description }}</p>
          <p>Цена: {{ item.price }}{{ item.currency }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="full_price" style="text-align: center;">
      <p>Полная цена: {{full_sum}}$</p>
    </div>

    <div class="button" style="text-align: center;">
      <button id="buy-button" style="font-size: 18px; color: #000000; border: none; background-color: bisque; padding: 10px;">Buy</button>
    </div>
  </div>

  <p style="text-align:center; padding-top: 10px; font-size: 20px; color: red;">
    !!!Если добавили товары с разной валютой, то не сработает, так как такой функционал не предусмотрен заданием!!!
  </p>
    
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    var stripe = Stripe('pk_test_51LjdwPGABoZo9CyKzES69viNN3Y0NM5cidXltgVrScBg0SOWKFMlLKv3nyiT83r5Yx70pNHD8rfNMvOEOkfxmOzW00SNky6sts');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
      fetch('/buy-order/{{order.pk}}', {method: 'GET'})
      .then(response => {return response.json()})
      .then(session => stripe.redirectToCheckout({ sessionId: session.session_id}))
    })
  </script>
</body>
</html>
